apiVersion: apps/v1
kind: Deployment
metadata:
 name: mysql-deployment
spec:
  replicas: 1
  selector:
   matchLabels:
    app: mysql
  template:
   metadata:
    labels:
     app: mysql
   spec:
    containers:
    - name: mysql
      image: mysql:5.7
      ports:
      - containerPort: 3306
      env:
      - name: MYSQL_ROOT_PASSWORD
        value: mypassword
      - name: MYSQL_DATABASE
        value: app_db        # Name of your database
      - name: MYSQL_USER
        value: app_user      # Username your web app will use
      - name: MYSQL_PASSWORD
        value: password      # Password for app_user
